// Webfonts
@font-face {
    font-family: 'MaisonNeue-Book';
    src: url('../fonts/MaisonNeue-Book.eot');
    /* IE9 Compat Modes */
    src:url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/MaisonNeue-Book.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/MaisonNeue-Book.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url(  '../fonts/MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'MaisonNeue-Medium';
    src: url('../fonts/MaisonNeue-Medium.eot');
    /* IE9 Compat Modes */
    src:url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/MaisonNeue-Medium.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/MaisonNeue-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url(  '../fonts/MaisonNeue-Medium.svg#751d4e146592611362c6dd26f9bc3016') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'MaisonNeue-Mono';
    src: url('../fonts/MaisonNeue-Mono.eot');
    /* IE9 Compat Modes */
    src:url('../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/MaisonNeue-Mono.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/MaisonNeue-Mono.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url(  '../fonts/MaisonNeue-Mono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
//Mixins
@mixin breakpoint($point) {
    $small: "(max-width: #{$max-width-small})";
    $medium: "(max-width: #{$max-width-medium})";
    $large: "(max-width: #{$max-width-large})";
    @if $point == large {
         @media #{$large}{
            @content;
        }
    }
    @else if $point == medium {
         @media #{$medium}{
            @content;
        }
    }
    @else if $point == small {
         @media #{$small}{
            @content;
        }
    }
}
// Imports
@import 'helpers/reset'; //  @import '../../node_modules/jeet/scss/jeet/jeet';
// @include edit();
// Variables
$font-stack: 'MaisonNeue-Book', Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.4em;
$vertical-spacing: 60px;
$gutter-spacing: 30px;
$page-margins: 20px;
$max-width-large: 1024px;
$max-width-medium: 768px;
$max-width-small: 400px;
$header-color: #0ff; // Typography
// Training wheels - comment out when done

* {
    // outline: 1px dotted rgba(0,0,0,0.5);
    // background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
}

body {
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    line-height: 1.5625em;
    color: #131E32;
    margin: 0;
    background: #F2706D;
    text-decoration: none;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1,
h2 {
    font-family: 'MaisonNeue-bold', Helvetica, Arial, sans-serif;
    font-size: 2.15em;
    line-height: 1.5625em;
    color: #131E32;
}

h2 {
    font-size: 2.75em;
    line-height: 1.5625em;
}

h4 {
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 2em;
    color: #ffffff;
}
// Animations

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.21s;
    transition-property: transform;
    // transition: all 0.21s cubic-bezier(0.55, 0, 0.1, 1);
    // // -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    // // // -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    // // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* Underline Reveal */
@mixin underline-reveal {
    $duration: $mediumDuration;
    @include hacks();
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        background: $activeColor;
        height: 4px;
        @include prefixed(transform, translateY(4px));
        @include prefixed(transition-property, transform);
        @include prefixed(transition-duration, $duration);
        @include prefixed(transition-timing-function, ease-out);
    }

    &:active,
    &:focus,
    &:hover {
        &:before {
            @include prefixed(transform, translateY(0));
        }
    }
}

.nav-text:hover {
    transform: scale(1.5);
}

.hvr-grow:active,
.hvr-grow:focus,
.hvr-grow:hover {
    transform: scale(1.05);
}
// wrapper

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
}

.form-wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.normal-section {
    padding: 0 100px;
    position: relative;
}

.box-section {
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 100px;
    position: relative;
}
// side headings

.heading-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.side-heading {
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 0.5em;
    color: #11282E;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    white-space: nowrap;
}

.white-heading {
    color: #ffffff;
}

.side-heading.white-heading::before {
    background-color: #ffffff;
}
// red line

.side-heading::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #F15B5C;
    position: absolute;
    top: -20px;
    left: 0;
}

.hero-text {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
}
// Navigation Section

header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    // background-color: #4FB2EC;
    margin: 0;
}

header img {
    vertical-align: middle;
    height: 58px;
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
    vertical-align: middle;
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 0.90em;
    font-kerning: 5.5;
}

.nav-button {
    padding: 10px;
    // border-width: 1px;
    // border: 1px solid #ffffff;
    background-color: rgba(255,255,255,0.12);
    // border-radius: 100px;
    padding: 15px 40px;
    overflow: auto;
    display: inline-block;
}

section {
    margin: 0;
}
// Header section

.hero {
    height: 600px;
    // background-color: #4FB2EC;
    position: relative;

    .normal-section,
    .wrapper {
        position: relative;
        height: 100%;
    }
}

.popcorn-illustration {
    position: absolute;
    right: 250px;
    top: 45%;
    transform: translateY(-50%);
}

.down-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

}

.hero-text {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    color: #ffffff;
    animation-duration: 1s;
    animation-fill-mode: both;
}

// .animated {
//
// }

.hero-text-slide-up{
    animation-duration: 1s;
    animation-fill-mode: both;
    transition: all 1250ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.hero-text-slide-up.show{
    transform:translateY(0px);
    opacity: 1;
}




.hero-text h1 {
    color: #ffffff;
    font-size: 130px;
    line-height: 1.2em;
}

.hero-text h4::before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: -20px;
    left: 0;
    border-radius: 5px;
}
// current-flavour section

.current-flavour {
    // height: 0px;
    h1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
//
// .shadow-top {
//     margin-top: 40px;
//     margin-bottom: -75px;
// }
//
// .shadow-bottom {
//     margin-top: -75px;
//     margin-bottom: 0;
// }

.current-flavour {}

.flavour-information {
    overflow: auto;
}

.flavour-information > div {
    width: 50%;
    float: left;
}

.stars-image {
    margin-top: 8px;
    margin-bottom: 15px;
}

.divder-line {
    width: 70%;
    height: 1px;
    margin-top: 25px;
    background-color: #EDEDED;
}

.ingredients-circle {
    width: 90px;
    height: 90px;
    margin: 12px 5px;
    // border-radius: 100px;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    float: left;
    overflow: hidden;
}

.ingredients-circle img {
    display: block;
    max-width: 200px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.ingredients-title {
    font-family: 'MaisonNeue-bold', Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    line-height: 5em;
    color: #11282E;
}

.flavour-image {
    padding-top: 85px;
    padding-left: 75px;
}

.flavour-image img {
    display: block;
}
// How to request

.steps {
    overflow: auto;
    padding: 200px 0;
}

.step {
    width: 33.333%;
    float: left;
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    position: relative;
    color: #ffffff;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.caption {
    padding: 15px;
    display: block;
}

.step-number {
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: #ffffff;
    padding: 15px;
    // display: inline-block;
}
// ----- Form styling

input,
textarea {
    border: 1px solid #EEEEEE;
    margin: 20px 0;
    padding: 21px;
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 0.89em;
    line-height: 0.5em;
    width: 100%;
    border-radius: 2px;
    display: block;
    resize: none;
}

input:focus,
textarea:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    border: 2px solid #F2706D;
    padding: 20px;
    outline: none;
    // transition-duration: 0.2s;
    // // transform:  scale(1.05);
    // // transform: matrix(5);
}
// input:required, textarea:required {
//     background: #FC6247 no-repeat 98% center;
// }

.setc textarea {
    resize: none;
}

.center {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 20px 120px;
    overflow: auto;
    background-color: #F3817E;
    color: #ffffff;
    margin: 0;
    line-height: 1em;
    vertical-align: middle;
}

button.button {
    outline: none;
    border: none;
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}

.footer-text {
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 0.5em;
    color: #ffffff;
}

.textarea {
    resize: none;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nav-text:hover {
    text-decoration: underline;
}
// ---- Footer styling

footer a {
    float: right;
    font-family: 'MaisonNeue-mono', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 0.5em;
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
//Mobile nav

.nav-mobile {
    display: none;
    /* Hide from browsers that don't support media queries */
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: #34495E url("img/nav-mobile.svg") no-repeat center center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#nav-toggle {
    float: right;
    display: none;
    font-size: 40px;
}
@media only screen and (max-width: 700px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.29);
        height: 100%;
        padding: 40px;
        z-index: 100000000;
    }

    #nav-toggle {
        display: block;
        z-index: 100000000000;
        position: absolute;
        top: 0;
        right: 0;
        width:40px;
        height:40px;
        margin-right: 50px;
        margin-top: 50px;
    }

    nav a {
        width: 100%;
        float: left;
        padding: 50px;
    }

    .popcorn-illustration {
        margin: 100%;
        width: 25%;
    }

    .flavour-information > div {
        width: 100%;
    }

    .flavour-image {
        padding-left: 0;
        padding-top: 0;
    }

    .flavour-image {
        padding-top: 30px;
    }

    .steps {
        padding: 30px 0;
    }

    .step {
        margin-bottom: 40px;
    }

    .flavour-image img {
        width: 100%;
    }

    .steps div {
        width: 100%;
    }

    .step div {
        margin-top: 5px;
    }

    .hero-text h1 {
        font-size: 55px;
    }

    .box-section,
    .normal-section {
        padding: 50px;
    }

    .hero {
        height: 400px;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .header-nav {
        height: 100px;
    }

    header {
        padding-top: 0;
        padding-bottom: 0;
    }

    .flavour-text {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .heading-container {
        position: relative;
        transform: translateY(0%);
        top: 0;
        left: 0;
        padding-top: 35px;
        padding-bottom: 50px;
    }

    .side-heading {
        transform: rotate(0deg);
        position: relative;
        // padding-top: 20px;
    }

    .footer {
        padding-right:25px;
        padding-left: 25px;
        padding-top: 50px;
        padding-bottom:50px;

    }
//
.button {
    width: 100%;
}



}
