// Webfonts

@font-face {
  font-family: 'MaisonNeue-Book';
  src: url('../fonts/MaisonNeue-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'MaisonNeue-Medium';
  src: url('../fonts/MaisonNeue-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Medium.svg#751d4e146592611362c6dd26f9bc3016') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'MaisonNeue-Mono';
  src: url('../fonts/MaisonNeue-Mono.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeue-Mono.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeue-Mono.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeue-Mono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

//Mixins

@mixin breakpoint($point) {
  $small: "(max-width: #{$max-width-small})";
  $medium: "(max-width: #{$max-width-medium})";
  $large: "(max-width: #{$max-width-large})";
  @if $point == large { @media #{$large} { @content; } }
  @else if $point == medium { @media #{$medium} { @content; } }
  @else if $point == small { @media #{$small}  { @content; } }
}


// Imports

@import 'helpers/reset';

// @import './node_modules/jeet/scss/jeet/index';
// @include edit();


// Variables

$font-stack: 'MaisonNeue-Book', Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.4em;

$vertical-spacing: 60px;
$gutter-spacing: 30px;
$page-margins: 20px;

$max-width-large: 1024px;
$max-width-medium: 768px;
$max-width-small: 400px;

$header-color: #0ff;


// Typography



body {
  font-family: 'MaisonNeue-Book', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5625em;
  color: #131E32;
}

h1,
h2 {
  font-family: 'MaisonNeue-Medium', Helvetica, Arial, sans-serif;
  font-size: 2.8125em;
  line-height: 1.5625em;
  color: #131E32;
}

h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

h2 {
  font-size: 2.1875em;
  line-height: 1.5625em;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.narrow-wrapper{
    max-width: 500px;
    margin: 0 auto;
}


header {
  // height: 160px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

nav {
  float: right;
}

nav a {
  text-decoration: none;
  color: #131E32;
  margin-left: 50px;
}

.button {
  border: 1px solid #131E32;
  padding: 20px 50px;
}

.hero {
  height: 600px;
  background-color: #B4B4B4;

  .wrapper {
    position: relative;
    height: 100%;
  }
}

.hero-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 50%
}

.current-flavour {
  height: 600px;

  h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

  }
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


.hero-text h1
{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
}

// flavour-card Styling - Carousel - See Slick carousel for .js options

.flavour-card {
  border: 1px solid #131E32;
  margin-left: 25px;
  background-color: #fafafa;
  text-align: center;
}

.flavour-card-inner {
  height: 390px;
  width: 350px;
}

.flavour-card-inner img {
margin: 0 auto;
margin-top: 50px;
margin-bottom: 50px;
}

text {
  margin: 50px
}

// Form Styling

input{
    border: 1px solid #131E32;
    margin: 20px;
    height: 50px;
    width: 100%;
    display: block;
  }



button{
  margin: 50px;
}
