// Webfonts
@font-face {
    font-family: 'MaisonNeue-Book';
    src: url('../fonts/MaisonNeue-Book.eot');
    /* IE9 Compat Modes */
    src:url('../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/MaisonNeue-Book.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/MaisonNeue-Book.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url(  '../fonts/MaisonNeue-Book.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'MaisonNeue-Medium';
    src: url('../fonts/MaisonNeue-Medium.eot');
    /* IE9 Compat Modes */
    src:url('../fonts/MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/MaisonNeue-Medium.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/MaisonNeue-Medium.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url(  '../fonts/MaisonNeue-Medium.svg#751d4e146592611362c6dd26f9bc3016') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'MaisonNeue-Mono';
    src: url('../fonts/MaisonNeue-Mono.eot');
    /* IE9 Compat Modes */
    src:url('../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/MaisonNeue-Mono.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/MaisonNeue-Mono.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url(  '../fonts/MaisonNeue-Mono.svg#af2fa94b953e46dc77e59983b9e9c303') format('svg');
    /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
//Mixins
@mixin breakpoint($point) {
    $small: "(max-width: #{$max-width-small})";
    $medium: "(max-width: #{$max-width-medium})";
    $large: "(max-width: #{$max-width-large})";
    @if $point == large {
         @media #{$large}{
            @content;
        }
    }
    @else if $point == medium {
         @media #{$medium}{
            @content;
        }
    }
    @else if $point == small {
         @media #{$small}{
            @content;
        }
    }
}
// Imports
@import 'helpers/reset'; //  @import '../../node_modules/jeet/scss/jeet/jeet';
// @include edit();
// Variables
$font-stack: 'MaisonNeue-Book', Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.4em;
$vertical-spacing: 60px;
$gutter-spacing: 30px;
$page-margins: 20px;
$max-width-large: 1024px;
$max-width-medium: 768px;
$max-width-small: 400px;
$header-color: #0ff; // Typography
// Training wheels - comment out when done

* {
    // outline: 1px dotted rgba(0,0,0,0.5);
    // background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
}

body {
    font-family: 'MaisonNeue-Book', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.5625em;
    color: #131E32;
    margin: 0;
    background: linear-gradient(to bottom, #4fb2ec 0%,#4d71d3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1,
h2 {
    font-family: 'MaisonNeue-bold', Helvetica, Arial, sans-serif;
    font-size: 2.8125em;
    line-height: 1.5625em;
    color: #131E32;
}

h2 {
    font-size: 2.1875em;
    line-height: 1.5625em;
}

h4 {
    font-family: 'MaisonNeue-bold', Helvetica, Arial, sans-serif;
    font-size: 1.875em;
    line-height: 0.5em;
    color: #11282E;
}

.heading-container {
    position: relative;
}

.side-heading {
    font-family: 'MaisonNeue-regular', Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 0.5em;
    color: #11282E;
    transform: rotate(-90deg) translateX(-140%) translateY(-1300%);
    position: absolute;
    // left: 100px;
    // top: 45%;
}
// red line

.side-heading::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #F15B5C;
    position: absolute;
    top: -20px;
    left: 0;
}

.hero-text {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.narrow-wrapper {
    max-width: 500px;
    margin: 0 auto;
}
// Navigation Section

header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    // background-color: #4FB2EC;
    margin: 0;
}

header img {
    vertical-align: middle;
    height: 58px;
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
    vertical-align: middle;
    font-family: 'MaisonNeue-medium', Helvetica, Arial, sans-serif;
    font-size: 0.90em;
    font-kerning: 5.5;
}

.nav-button {
    padding: 10px;
    border-width: 1px;
    border: 1px solid #ffffff;
    background-color: rgba(255,255,255,0.12);
    border-radius: 100px;
    padding: 15px 30px;
    overflow: auto;
    display: inline-block;
}

section {
    margin: 0;
}
// Header section

.hero {
    height: 600px;
    // background-color: #4FB2EC;
    position: relative;

    .wrapper {
        position: relative;
        height: 100%;
    }
}

.popcorn-illustration {
    position: absolute;
    bottom: 275px;
    left: 70%;
    transform: translateX(-50%);
}

.down-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-text {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    color: #ffffff;
}

.hero-text h1 {
    color: #ffffff;
    font-size: 130px;
    line-height: 1.2em;
}

.hero-text h4::before {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #F15B5C;
    position: absolute;
    top: -40px;
    left: 0;
}
// current-flavour section

.current-flavour {
    // height: 0px;
    h1 {
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.shadow-box {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 100px;
    position: relative;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.shadow-top {
    margin-top: 40px;
    margin-bottom: -75px;
}

.shadow-bottom {
    margin-top: -75px;
    margin-bottom: 0;
}

.current-flavour {}

.flavour-information {
    overflow: auto;
}

.flavour-text {
    width: 50%;
    float: left;
}

.stars-image {
    margin-top: 25px;
}

.divder-line {
    width: 70%;
    height: 1px;
    margin-top: 25px;
    background-color: #EDEDED;
}

.ingredients-circle {
    width: 90px;
    height: 90px;
    margin: 10px;
    border-radius: 100px;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    float: left;
    overflow: hidden;
}

.ingredients-circle img {
    display: block;
    max-width: 200px;
    max-height: 90px;
    width: auto;
    height: auto;
}

.ingredients-title {
    font-family: 'MaisonNeue-bold', Helvetica, Arial, sans-serif;
    font-size: 0.95em;
    line-height: 5em;
    color: #11282E;
}

.flavour-image {
    width: 50%;
    float: left;
}

.flavour-image img {
    display: block;
    margin: 0 auto;
}
// How to request
.how-to-request {
    // background-color: #4D71D3;
    height: 620px;
}
// Form Styling

form {
    // overflow: auto;
}

input,
textarea {
    border: 1px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
    font-family: 'MaisonNeue-regular', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 0.5em;
    width: 100%;
    border-radius: 2px;
    display: block;
}

textarea {
    resize: none;
}

.center {
    text-align: center;
}

footer a {
    float: right;
    font-family: 'MaisonNeue-regular', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 0.5em;
    color: #ffffff;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 20px 100px;
    overflow: auto;
    background-color: #4FB2EC;
    color: #ffffff;
    border-radius: 100px;
    margin: 0;
    line-height: 1em;
    vertical-align: middle;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
